@keyframes background-gradient {
    0% {
        background-size: 160%
    }
    100% {
        background-size: 140%;
    }
}

@keyframes window-fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes window-fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes menu-background-transition {
    0% {
        transform: translate(-110px, -110px);
    }
    100% {}
}

@keyframes menu-logo-translate {
    0% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, -20px);
    }
}

@keyframes menu-logo-rotate {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes play-background-transition {
    0% {
        transform: translate(-130px, -130px);
    }
    100% {}
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: "Rubik Maze", system-ui;
    font-weight: 400;
    font-style: normal;
}

div.window, div.window-background-transition, div.window-background-gradient, div.window-content {
    width: 100%;
    height: 100%;
}

div.window {
    display: flex;
}

div.window.window-fade-in, div.window.window-fade-out {
    pointer-events: none;
}

div.window.window-fade-in {
    animation: window-fade-in 1s 1 ease-in;
}

div.window.window-fade-out {
    animation: window-fade-out 1s 1 ease-out;
}

div.window-background-transition, div.window-background-gradient, div.window-content {
    position: absolute;
}

div.window-background-transition {
    overflow: hidden;
}

div.window-background-gradient {
    background: radial-gradient(circle, transparent 25%, black 75%) 50%;
    animation: background-gradient 4s infinite ease-in-out alternate;
}

div#menu-container {
    background: white;
}

div#menu-container > div.window-background-transition > div {
    width: calc(100% + 110px);
    height: calc(100% + 110px);
    background: url("./assets/menu-window-background.png") 0 / 110px repeat;
    animation: menu-background-transition 3s infinite linear;
}

div#menu-container > div.window-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1#menu-logo {
    font-size: 4em;
    color: black;
    animation: menu-logo-translate 5s infinite ease-in-out alternate, menu-logo-rotate 2.5s infinite ease-in-out alternate;
    animation-composition: accumulate;
}

h1#menu-logo > div {
    text-align: center;
}

button#menu-button-play {
    margin: 50px 0 0 0;
    width: 150px;
    border: 5px solid #366640;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 255, 55, 1) 0%, rgba(61, 173, 85, 1) 25%, rgba(54, 102, 64, 1) 100%);
    transition: border-color 0.5s, scale 0.5s;
}

button#play-button-back {
    width: 50px;
    border: 5px solid #664036;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 51, 0, 1) 0%, rgba(173, 83, 61, 1) 25%, rgba(102, 64, 54, 1) 100%);
    transition: border-color 0.5s, scale 0.5s;
}

div#play-container {
    background: gray;
}

div#play-container > div.window-background-transition > div {
    width: calc(100% + 130px);
    height: calc(100% + 130px);
    background: url("./assets/play-window-background.png") 0 / 130px repeat;
    animation: play-background-transition 3.5s infinite linear;
}

button#menu-button-play:focus, button#play-button-back:focus {
    border: 5px solid white;
}

button#menu-button-play:hover, button#play-button-back:hover {
    scale: 120%;
}

button#menu-button-play:active, button#play-button-back:active {
    scale: 90%;
    opacity: 80%;
}

button#menu-button-play > span {
    pointer-events: none;
    user-select: none;
    font-size: 2.5em;
    font-family: "Rubik Maze", system-ui;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-transform: uppercase;
}